In [6]:
import pandas as pd
dataframe = pd.DataFrame({'A': ['x','y','z','z'], 'B': [5,4,3,3], 'C': [25,47,65,567]})
dataframe

   A  B    C
0  x  5   25
1  y  4   47
2  z  3   65
3  z  3  567

In [7]:
dataframe.groupby(['A','B'])

3