In [1]:
import pandas as pd
import numpy as np

In [2]:
parques_jardins = pd.read_csv('parque_filtered.csv')

In [7]:
parques_jardins=parques_jardins[['FREGUESIA','Shape__Area']]

In [11]:
parques_jardins

                   FREGUESIA    Shape__Area
0                      Belém    2793.504883
1                     Lumiar   16934.588379
2                Santa Clara   24805.512207
3    São Domingos de Benfica  384966.686523
4     Santa Maria de Olivais  151007.680664
..                       ...            ...
164              São Vicente    1103.016602
165            Santo António    9720.682617
166                    Belém   27823.082031
167                Campolide   67507.486816
168                  Marvila   74602.711914

[169 rows x 2 columns]

In [17]:
final_result=(parques_jardins.groupby(['FREGUESIA'],as_index=False).count()).rename(columns={"Shape__Area": "Frequency"})

In [19]:
final_result.to_csv('final_parques.csv')

# HIGH SCHOOL

In [21]:
high_s = pd.read_csv('secundarios_filtered.csv')
high_s

In [23]:
high_s=high_s[['FREGUESIA','MORADA1']]

In [26]:

high_s_final=(high_s.groupby(['FREGUESIA'],as_index=False).count()).rename(columns={"MORADA1": "Frequency_High_School"})

In [28]:
high_s_final

                 FREGUESIA  Frequency_High_School
0                Alcântara                      2
1                 Alvalade                      2
2                  Areeiro                      1
3                  Arroios                      2
4           Avenidas Novas                      1
5                    Belém                      2
6                  Benfica                      1
7         Campo de Ourique                      2
8                Campolide                      1
9                  Carnide                      1
10                  Lumiar                      1
11                 Marvila                      1
12            Misericórdia                      1
13  Santa Maria de Olivais                      2
14             São Vicente                      1

In [27]:
high_s_final.to_csv('final_high_shools.csv')