## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [13]:
import pandas as pd
import datetime

In [ ]:
df=pd.read_csv('C:/Users/Documents/')

In [14]:
#Melting original and creating column 'day'
table=pd.melt(df,['id','year','month','element'],var_name='day')
table.head(50)

         id  year  month element day  value
0   MX17004  2010      1    tmax  d1    NaN
1   MX17004  2010      1    tmin  d1    NaN
2   MX17004  2010      2    tmax  d1    NaN
3   MX17004  2010      2    tmin  d1    NaN
4   MX17004  2010      3    tmax  d1    NaN
5   MX17004  2010      3    tmin  d1    NaN
6   MX17004  2010      4    tmax  d1    NaN
7   MX17004  2010      4    tmin  d1    NaN
8   MX17004  2010      5    tmax  d1    NaN
9   MX17004  2010      5    tmin  d1    NaN
10  MX17004  2010      6    tmax  d1    NaN
11  MX17004  2010      6    tmin  d1    NaN
12  MX17004  2010      7    tmax  d1    NaN
13  MX17004  2010      7    tmin  d1    NaN
14  MX17004  2010      8    tmax  d1    NaN
15  MX17004  2010      8    tmin  d1    NaN
16  MX17004  2010     10    tmax  d1    NaN
17  MX17004  2010     10    tmin  d1    NaN
18  MX17004  2010     11    tmax  d1    NaN
19  MX17004  2010     11    tmin  d1    NaN
20  MX17004  2010     12    tmax  d1   29.9
21  MX17004  2010     12    tmin  d1   13.8
22  MX17004  2010      1    tmax  d2    NaN
23  MX17004  2010      1    tmin  d2    NaN
24  MX17004  2010      2    tmax  d2   27.3
25  MX17004  2010      2    tmin  d2   14.4
26  MX17004  2010      3    tmax  d2    NaN
27  MX17004  2010      3    tmin  d2    NaN
28  MX17004  2010      4    tmax  d2    NaN
29  MX17004  2010      4    tmin  d2    NaN
30  MX17004  2010      5    tmax  d2    NaN
31  MX17004  2010      5    tmin  d2    NaN
32  MX17004  2010      6    tmax  d2    NaN
33  MX17004  2010      6    tmin  d2    NaN
34  MX17004  2010      7    tmax  d2    NaN
35  MX17004  2010      7    tmin  d2    NaN
36  MX17004  2010      8    tmax  d2    NaN
37  MX17004  2010      8    tmin  d2    NaN
38  MX17004  2010     10    tmax  d2    NaN
39  MX17004  2010     10    tmin  d2    NaN
40  MX17004  2010     11    tmax  d2   31.3
41  MX17004  2010     11    tmin  d2   16.3
42  MX17004  2010     12    tmax  d2    NaN
43  MX17004  2010     12    tmin  d2    NaN
44  MX17004  2010      1    tmax  d3    NaN
45  MX17004  2010      1    tmin  d3    NaN
46  MX17004  2010      2    tmax  d3   24.1
47  MX17004  2010      2    tmin  d3   14.4
48  MX17004  2010      3    tmax  d3    NaN
49  MX17004  2010      3    tmin  d3    NaN

In [15]:
#Use pivot_table to add tmax and tmin to columns
table = table.pivot_table(index=["id","year","month","day"], columns="element", values="value")
table.reset_index(drop=False, inplace=True)

In [16]:
table

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5